.App {
  font-family: Avenir Next, Arial, Helvetica, sans-serif;
  padding: .5rem;
  color: #4e4e4e;
}

p {
  font-size: 1.1rem;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 96vh;
}

.mainWrapper {
  flex: 1;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Pacifico;
  color: #42716c;
  margin-bottom: 1.2em;
}

h2 {
  font-size: 2rem;
  padding: 1em 0;
  color: #b1b1b1;
}

h3 {
  font-size: 1.3rem;
  padding: 0 0 1em;
  font-weight: 500;
}