.Tip-Preview .wrapper {
    height: 66vh;
    border: 1px solid #d6d6d6;
    overflow: scroll;
    border-radius: .4em;
}

.Tip-Preview .list {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: .5rem;
}

.Tip-Preview .preview {
    padding: 1em;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.2rem;
    color: 
}

.Tip-Preview .preview:last-child {
    border-bottom: none;
}

.Tip-Preview li a {
    color: #4a4a4a;
}
